# Build results
bin/
obj/
[Bb]uild/
[Bb]uild[Ll]og.*

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.sdf
*.dbmdl

# Visual Studio
.vs/
.vscode/

# Backup & temporary files
*.bak
*.tmp
*~ 
*.swp

# NuGet
*.nupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json

# Rider
.idea/

# Resharper
_ReSharper*/
*.ReSharper
*.DotSettings.user

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Logs
*.log

# Publish outputs
publish/
*.Publish.xml

# JetBrains Rider
.idea/
*.sln.iml
